<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>

        <%- include('partials/appbar.ejs') %>

            <h1 class="heading">TRACK ORDERS</h1>

            <div class="order">
                <div class="order-row">
                    <div class="order-id">
                        order id: <%= id %>
                    </div>
                    <div class="status">
                        status: <%= status %>
                    </div>
                </div>


                <% for( let i=0; i < items.length; i++ ) { %>

                    <div class="item">
                        <div>
                            <%= items[i].quantity %> x <%= items[i].name %>
                        </div>
                        <div>
                            Rs <%= items[i].price %>
                        </div>
                    </div>

                    <% } %>

                        <hr>

                        <div class="total-price">
                            total Rs <%= total %>
                        </div>

                        placed at : <%= time %> 


    </body>

</html>