<!DOCTYPE html>
<html>

    <%- include("../../partials/head.ejs") %>

    <body>

        <%- include('../../partials/navbar.ejs') %>

        <form action="/staff/employees/<%= employee.id %>/edit" method="post" class="form">

            <h1 class="heading">EDIT EMPLOYEE</h1>

            <div class="form-input">
                <label for="name">NAME</label>
                <input type="text" name="name" value="<%= employee.name %>" required>
            </div>

            <div class="form-input">
                <label for="email">EMAIL</label>
                <input type="text" name="email" value="<%= employee.email %>" required>
            </div>

            <div class="form-input">
                <label for="password">PASSWORD</label>
                <input type="text" name="password" value="<%= employee.password %>" required>
            </div>

            <div class="form-input">
                <label for="phone">PHONE</label>
                <input type="text" name="phone" value="<%= employee.phone %>" required>
            </div>

            <div class="form-input checkbox">
                <input type="checkbox" name="isAdmin" <%= employee.isAdmin ? "checked" : "" %>>
                <label for="isAdmin">Has Admin Rights</label>
            </div>

            <input type="submit" class="btn form-submit" value="SAVE">

        </form>

    </body>

</html>