<!DOCTYPE html>
<html lang="en">

<%- include("../../partials/head.ejs") %>

    <style>
        table {
            width: 100%;
            text-align: left;
        }

        table,
        th,
        td {
            border: 1px solid;
            padding: 14px;

        }
    </style>


    <body>
        <%- include('../../partials/navbar.ejs') %>

            <h1 class="heading">Employee</h1>
            <table>
                <% for(let i=0; i<employees.length;i++) {%>
                    <tr>

                        <th>
                            ID: <%= employees[i].id %>
                        </th>
                        <th>
                            Name: <%= employees[i].name %>
                        </th>
                        <th>
                            Email: <%= employees[i].email %>
                        </th>
                        <th>
                            Phone: <%= employees[i].phone %>
                        </th>

                        <th>
                            <div class="actions"> 
                                Actions: 
                                <a href="/staff/food-items/<%= employees[i].id %>/edit">
                                    <button class="edit-btn">Edit Items</button>
                                </a>

                                <a href="/staff/food-items/<%= employees[i].id %>/delete">
                                    <button class="delete-btn">Delete Items</button>
                                </a>
                            </div>
                        </th>

                    </tr>
                    <% } %>

                    <tr>
                        <td>001</td>
                        <td>Yang Yang</td>
                        <td>yangyang@gmail.com</td>
                        <td>0123456789</td>
                        <td>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>

            </table>


    </body>