<!DOCTYPE html>
<html lang="en">

    <%- include("../../partials/head.ejs") %>

    <body>

        <%- include('../../partials/navbar.ejs') %>

        <h1 class="heading">EMPLOYEES</h1>

        <div class="data-table">

            <div class="text-end mb-3">
                <a href="/staff/employees/add">
                    <button class="btn">Add New Employee</button>
                </a>
            </div>

            <table>

                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>

                <% for( let i = 0; i < employees.length; i++ ) { %>

                    <tr>
                        <td><%= employees[i].id %></td>
                        <td><%= employees[i].name %></td>
                        <td><%= employees[i].email %></td>
                        <td><%= employees[i].phone %></td>
                        <td><%= employees[i].isAdmin ? "Admin" : "Employee" %></td>
                        <td>
                            <div class="actions">
                                <a href="/staff/employees/<%= employees[i].id %>/edit">
                                    <span class="blue-link">EDIT</span>
                                </a>
                                <a href="/staff/employees/<%= employees[i].id %>/delete">
                                    <span class="red-link">DELETE</span>
                                </a>
                            </div>
                        </td>
                    </tr>

                <% } %>

            </table>

        </div>

    </body>

</html>