<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs") %>

    <body>

        <%- include('../partials/appbar.ejs') %>

        <h1 class="heading">YOUR CART</h1>

        <% if (items.length === 0) { %>
            <div class="no-content">Your cart is empty!!</div>
        <% } else { %>

            <form action="/cart" method="post" class="cart">

                <% for( let i=0; i < items.length; i++ ) { %>

                    <div class="item">
                        <img src="<%= items[i].image %>" alt="" class="food-img" >
                        <div class="food-info">
                            <div>
                                <span class="bold"><%= items[i].name %></span>
                                x<%= items[i].quantity %>
                            </div>
                            <div class="food-price">
                                Rs <%= items[i].price %>
                            </div>
                        </div>
                        <div class="bold">
                            Rs <%= items[i].price * items[i].quantity %>
                        </div>
                    </div>

                <% } %>

                <hr>

                <div class="total-price">
                    <span>Grand Total</span>
                    <span>Rs <%= total %></span>
                </div>

                <input type="submit" name="confirm" value="PLACE ORDER">
                <a href="/"><button>BACK TO MENU</button></a>

            </form>

        <% } %>

    </body>

</html>