<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs") %>

    <body>

        <%- include('../partials/appbar.ejs') %>

        <h1 class="heading">VIEW CART</h1>

        <form action="/cart" method="post" class="cart">

            <% for( let i=0; i < items.length; i++ ) { %>

                <div class="item">
                    <img src="<%= items[i].image %>" alt="">
                    <div>
                        <%= items[i].quantity %> x <%= items[i].name %>
                    </div>
                    <div>
                        Rs <%= items[i].price %>
                    </div>
                </div>

            <% } %>

            <hr>

            <div class="total-price">
                total Rs <%= total %>
            </div>

            <input type="submit" name="confirm" value="confirm">
            <a href="/"><button>Go back to menu</button></a>

        </form>

    </body>

</html>