<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs") %>

    <body>

        <%- include('../partials/appbar.ejs') %>

        <h1 class="heading">TRACK ORDER</h1>

        <div class="order">

            <div class="order-row">
                <div class="order-id bold">
                    Order ID: #<%= order.id %>
                </div>
                <div class="status bold">
                    Status: <%= order.status %>
                </div>
            </div>

            <% for( let i=0; i < order.items.length; i++ ) { %>

                <div class="item">
                    <img src="<%= order.items[i].image %>" alt="" class="food-img" >
                    <div class="food-info">
                        <div>
                            <span class="bold"><%= order.items[i].name %></span>
                            x<%= order.items[i].quantity %>
                        </div>
                        <div class="food-price">
                            Rs <%= order.items[i].price %>
                        </div>
                    </div>
                    <div class="bold">
                        Rs <%= order.items[i].price * order.items[i].quantity %>
                    </div>
                </div>

            <% } %>

            <hr>

            <div class="total-price">
                <span>Grand Total</span>
                <span>Rs <%= order.total %></span>
            </div>

            <span class="bold">Placed At:</span>
            <%= order.createdAt %>

        </div>

    </body>

</html>