<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>

        <%- include('partials/appbar.ejs') %>

            <h1 class="heading">ACTIVE ORDER</h1>

            <div class="order">
                <div class="order-row">
                    <div class="order-id">
                        order id: <%= id %>
                    </div>
                    <form action="/orders" method="post" class="status-form">
                            <select name="status">
                            <option value="pending">Pending</option>
                            <option value="accepted">Accepted</option>
                            <option value="rejected">Rejectec</option>
                            <option value="preparing">Preparing</option>
                            <option value="completed">Completed</option>
                            <option value="delivered">Delivered</option>
                            </select>
                            <input type="submit" name="update-status" value="update-status">
                        </form>
                </div>


                <% for( let i=0; i < items.length; i++ ) { %>

                    <div class="item">
                        <div>
                            <%= items[i].quantity %> x <%= items[i].name %>
                        </div>
                        <div>
                            Rs <%= items[i].price %>
                        </div>
                    </div>

                    <% } %>

                        <hr>

                        <div class="total-price">
                            total Rs <%= total %>
                        </div>

                        placed at : <%= time %> 

                        <div class="customer=details">
                            <h2>Customwr Details</h2>
                            <div>id: <%= customer.id %> </div>
                            <div>name: <%= customer.name %> </div>
                            <div>email: <%= customer.email %> </div>
                            <div>phone no: <%= customer.phone%> </div>
                            <div>role: <%= customer.role%> </div>
                            <div>department: <%= customer.department%> </div>
                        </div>


    </body>

</html>