<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>

        <h1 class="heading">VIEW ALL ONGOING ORDERS</h1>


        <% for( let i=0; i < orders.length; i++ ) { %>

            <div class="order">
                <div class="customer-name">
                    Customer Name: <%= orders[i].customer.name%> 
                </div>

                <div class="order-row">
                    <div class="order-id">
                        <%= orders[i].id %>
                    </div>
                    <div class="status">
                        status: <%= orders[i].status %>
                    </div>
                </div>

                <div class="order-row">
                    <div class="items">
                        <%= orders[i].items %>
                    </div>
                    <div class="total">
                        Total: Rs <%= orders[i].total %>
                    </div>
                </div>

            </div>
            <% } %>
    </body>
</html>