<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs") %>

    <body>

        <%- include('../partials/navbar.ejs') %>

        <h1 class="heading">ACTIVE ORDER</h1>

        <div class="order">

            <div class="order-row">
                <div class="order-id bold">
                    Order ID: #<%= order.id %>
                </div>
                <form action="/orders/<%= order.id %>/update" method="post" class="status-form">
                    <select name="status">
                        <option value="pending"
                            <%= order.status === 'pending' ? 'selected' : '' %>
                        >
                            Pending
                        </option>
                        <option value="accepted"
                            <%= order.status === 'accepted' ? 'selected' : '' %>
                        >
                            Accepted
                        </option>
                        <option value="rejected"
                            <%= order.status === 'rejected' ? 'selected' : '' %>
                        >
                            Rejected
                        </option>
                        <option value="preparing"
                            <%= order.status === 'preparing' ? 'selected' : '' %>
                        >
                            Preparing
                        </option>
                        <option value="completed"
                            <%= order.status === 'completed' ? 'selected' : '' %>
                        >
                            Completed
                        </option>
                        <option value="delivered"
                            <%= order.status === 'delivered' ? 'selected' : '' %>
                        >
                            Delivered
                        </option>
                    </select>
                    <input type="submit" name="update-status" value="Update Status">
                </form>
            </div>

            <% for( let i=0; i < order.items.length; i++ ) { %>

                <div class="item">
                    <img src="<%= order.items[i].image %>" alt="" class="food-img" >
                    <div class="food-info">
                        <div>
                            <span class="bold"><%= order.items[i].name %></span>
                            x<%= order.items[i].quantity %>
                        </div>
                        <div class="food-price">
                            Rs <%= order.items[i].price %>
                        </div>
                    </div>
                    <div class="bold">
                        Rs <%= order.items[i].price * order.items[i].quantity %>
                    </div>
                </div>

            <% } %>

            <hr>

            <div class="total-price mb-2">
                <span>Total Amount</span>
                <span>Rs <%= order.total %></span>
            </div>

            <div class="mb-4">
                <span class="bold">Placed At:</span>
                <%= order.createdAt %>
            </div>

            <div class="customer-details">
                <h5>Customer Details</h5>
                <div>
                    <span class="bold">ID:</span>
                    <%= order.customer.id %>
                </div>
                <div>
                    <span class="bold">Name:</span>
                    <%= order.customer.name %>
                </div>
                <div>
                    <span class="bold">Email:</span>
                    <%= order.customer.email %>
                </div>
                <div>
                    <span class="bold">Phone no:</span>
                    <%= order.customer.phone%>
                </div>
                <div>
                    <span class="bold">Role:</span>
                    <%= order.customer.role%>
                </div>
                <div>
                    <span class="bold">Department:</span>
                    <%= order.customer.department%>
                </div>
            </div>

        </div>

    </body>

</html>