<!DOCTYPE html>
<html>

<%- include("../partials/head.ejs") %>

    <body>
        <%- include('../partials/navbar.ejs') %>

            <h1 class="heading">Update Customer</h1>

            <div class="container">
                <form action="/update-customer" method="post" class="update-customer">

                    <div class="form-input">
                        <label for="name">Name:</label>
                        <input type="text" name="name" value="<%= customer.name %>">
                    </div>

                    <br>

                    <div class="form-input">
                        <label for="email">Email:</label>
                        <input type="email" name="email" value="<%= customer.email %>">
                    </div>

                    <br>

                    <div class="form-input">
                        <label for="password">Password:</label>
                        <input type="password" name="password" value="<%= customer.password %>">
                    </div>

                    <br>

                    <div class="form-input">
                        <label for="phone">Phone:</label>
                        <input type="text" name="phone" value="<%= customer.phone %>">
                    </div>

                    <br>

                    <div class="form-input">
                        <label for="role">Role:</label>
                        <input type="text" name="role" value="<%= customer.role %>">
                    </div>

                    <br>

                    <div class="form-input">
                        <label for="department">Department:</label>
                        <input type="text" name="department" value="<%= customer.department %>">
                    </div>

                    <br>

                    <input type="submit" value="Submit">
                </form>
            </div>

    </body>

</html>