<!DOCTYPE html>
<html>

<%- include("../partials/head.ejs") %>

    <body>
        <%- include('../partials/navbar.ejs') %>

            <h1 class="heading">Update Food-Item</h1>

            <div class="container">
                <form action="/update-item" method="post" class="update-item">
                    <div class="form-input">
                        <label for="name">Name:</label>
                        <input type="text" name="name" value="<%= item.name %>">
                    </div>

                    <br>

                    <div class="form-input">
                        <label for="price">Price:</label>
                        <input type="text" name="price" value="<%= item.price %>">
                    </div>

                    <br>

                    <div class="form-input">
                        <label for="image">Image:</label>
                        <input type="file" name="file" value="<%= item.file %>">

                    </div>

                    <br>

                    <input type="submit" value="Submit">
                </form>
            </div>

    </body>

</html>