<!DOCTYPE html>
<html>

    <%- include("../partials/head.ejs") %>

<body>
    <%- include('../partials/navbar.ejs') %>

    <h1 class="heading">Update Employee</h1>

    <div class="container">
        <form action="/update-employee" method="post" class="update-employee">
            <div class="form-input">
                <label for="name">Name:</label>
                <input type="text" name="name" value="<%= employee.name %>">
            </div>

            <br>

            <div class="form-input">
                <label for="email">Email:</label>
                <input type="text" name="email" value="<%= employee.email %>">
            </div>

            <br>

            <div class="form-input">
                <label for="password">Password:</label>
                <input type="text" name="password" value="<%= employee.password %>">
            </div>

            <br>

            <div class="form-input">
                <label for="phone">Phone:</label>
                <input type="text" name="phone" value="<%= employee.phone %>">
            </div>

            <br>

            <div class="form-input">
                <label for="isadmin">Admin</label>
                <input type="checkbox" name="isadmin" value="<%= employee.isadmin %>">
            </div>

            <br>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>

</html>