<!DOCTYPE html>
<html lang="en">

    <%- include("../../partials/head.ejs") %>

    <body>

        <%- include('../../partials/navbar.ejs') %>

        <h1 class="heading">CUSTOMERS</h1>

        <div class="data-table">

            <div class="text-end mb-3">
                <a href="/staff/customers/add">
                    <button class="btn">Add New Customer</button>
                </a>
            </div>

            <table>

                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>

                <% for( let i = 0; i < customers.length; i++ ) { %>

                    <tr>
                        <td><%= customers[i].id %></td>
                        <td><%= customers[i].name %></td>
                        <td><%= customers[i].email %></td>
                        <td><%= customers[i].phone %></td>
                        <td><%= customers[i].role %></td>
                        <td><%= customers[i].department %></td>
                        <td>
                            <div class="actions">
                                <a href="/staff/customers/<%= customers[i].id %>/edit">
                                    <span class="blue-link">Edit</span>
                                </a>
                                <a href="/staff/customers/<%= customers[i].id %>/delete">
                                    <span class="red-link">Delete</span>
                                </a>
                            </div>
                        </td>
                    </tr>

                <% } %>

            </table>

        </div>

    </body>

</html>