<!DOCTYPE html>
<html>

    <%- include("../../partials/head.ejs") %>

    <body>

        <%- include('../../partials/navbar.ejs') %>

        <form action="/staff/food-items/<%= item.id %>/edit" method="post" class="form" encType="multipart/form-data">

            <h1 class="heading">EDIT FOOD ITEM</h1>

            <div class="form-input">
                <label for="name">NAME</label>
                <input type="text" name="name" value="<%= item.name %>" required>
            </div>

            <div class="form-input">
                <label for="price">PRICE</label>
                <input type="number" step="any" name="price" value="<%= item.price %>" min="0" max="1000" required>
            </div>

            <div class="form-input">
                <label for="image">IMAGE</label>
                <input type="file" id="file" name="image">
            </div>

            <div class="form-input checkbox">
                <input type="checkbox" id="isAvailable" name="isAvailable"
                    <%= item.isAvailable ? "checked" : "" %>
                >
                <label for="isAvailable">Is Available</label>
            </div>

            <input type="submit" class="btn form-submit" value="SAVE">

        </form>

    </body>

</html>